/* Start Variables */
:root{
    --main-Color: #10cab7;
    --secondary-Color: #2c4755;
    --section-padding: 60px;
    --section-backgrauned: #f6f6f6;
}
/* End Variables */
/* Start Glopal Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth; /*بتسعدك في انك تعمل سكرول لما تتكه علي القائمه اللي في الهيد*/
}

body{
    font-family: "Work Sans", sans-serif;
}

button{
    background-color: #2c4755;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 20px;
    border: none;
    box-shadow: 2px 2px 5px 0 grey;
}

button::after{
    content: "";
    padding: 8px;
    position: absolute;
    top: 15px;
    left: 10px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

button:active{
    box-shadow: 3px 3px 5px 0 black inset;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Glopal Rules */
/* Start Components */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    content: #797979;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 70px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* End Components */
/* Start Header */
header{
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

header .logo{
    width: 60px;
    height: 30px;
}

header .links{
        position: relative;
}

header .links:hover ul{
        display: block;
}

header .links:hover .icon span:nth-child(2){
        width: 100%;
}

header .container .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .container .icon span{
    background-color: #222;
    margin-bottom: 5px;
    height: 2px;
    
}

header .container .icon span:first-child{
    width: 100%;
}

header .container .icon span:nth-child(2){
    width: 60%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .container .icon span:last-child{
    width: 100%;
}

.container .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #EEE;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: 100%;
    display: none;
    z-index: 1;
}

.container .links ul::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #EEE transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.container .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.container .links ul li a:hover{
    padding-left: 25px;
}

.container .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing{
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(5\).jpg);
    background-size: cover;
    height: calc(100vh - 70px);
    position: relative;
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-Color);
}
.intro-text p{
    color: white;
    line-height: 1.8;

}
/* End Landing Section */
/* Start Features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-backgrauned);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat{
    padding: 20px;
    text-align: center;
}

.features .feat i{
    color: var(--main-Color);
    font-size: 35px;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* Ens Features */
/* Start Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-container .srv{
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px){
    .services .services-container .srv{
        flex-direction: column;
        text-align: center;
    }
}

.services .services-container .srv i{
    color: var(--main-Color);
    flex-basis: 60px;
    font-size: 25px;
}

.services .services-container .srv .text{
    flex: 1;
}

.services .services-container .srv h3{
    margin: 0 0 20px;
}

.services .services-container .srv p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-container .image{
    text-align: center;
    position: relative;
}

.services .services-container .image::before{
    content: "";
    background-color: var(--secondary-Color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-container .image img{
    width: 260px;
}

@media (max-width: 1199px){
    .image-column{
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-backgrauned);
}

.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-container .card{
    background-color: white;
    text-align: center;
}

.portfolio .portfolio-container .card img{
    max-width: 100%;
}

.portfolio .portfolio-container .card .info{
    padding: 20px;
}

.portfolio .portfolio-container .card .info h3{
    margin: 0;
}

.portfolio .portfolio-container .card .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px){
    .about .about-container{
        flex-direction: column;
        text-align: center;
    }
}

.about .about-container .image{
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px){
    .about .about-container .image{
        margin: 0 auto 60px;
    }
}

.about .about-container .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 50px);
    top: -55px;
    left: -20px;
    z-index: -1;
}

.about .about-container .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 250px;
    border-left: 80px solid var(--main-Color);
    border-bottom: 80px solid var(--main-Color);
    top: -55px;
    left: 150px;
    z-index: -1;
}

@media (max-width: 991px){
    .about .about-container .image::before,
    .about .about-container .image::after{
        display: none;
    }
}

.about .about-container .text{
    flex-basis: calc(100% - 500px);
}

.about .about-container .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 60px;
}
.about .about-container .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-Color);
}
.about .about-container .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End About */
/* Start Contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-backgrauned);
}

.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-Color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-Color);
    text-decoration: none;
}

.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-Color);
}

@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
/* End Contact */
/* Start Footer */
.footer{
    background-color: var(--secondary-Color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size:  18px;
}

.footer span{
    font-weight: bold;
    color: var(--main-Color);
}
/* End Footer */